[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
whitenoise = "*"
gunicorn = "*"
django = "*"
django-heroku = "*"
django-cors-headers = "*"
dj-database-url = "*"
django-leaflet = "*"
django-geojson = "*"
psycopg2-binary = "*"

[requires]
python_version = "3.7"
